<h2>Account Settings</h2>

<p id="api-key">
  API key: <%= current_user.api_key %>
</p>

<%= form_for(current_user) do |form| %>
  <%= form.label :time_zone, "Time zone" %>
  <%= form.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
  <%= form.submit "Save" %>
<% end %>