<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <title>Hulkort</title>

  <%= stylesheet_link_tag    "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= csrf_meta_tags %>
</head>
<body lang="en">

  <%= render 'shared/user_navigation' %>

  <h1>Hulkort</h1>

  <section id="content">
    <%= yield %>
  </section>

  <% flash.each do |key, value| -%>
    <div class="flash <%= key %>"><%= value %></div>
  <% end -%>

</body>
</html>